:root {
    --primarycolor: hsl(240, 64%, 27%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --inputColor: hsl(0, 0%, 100%);
    
}

.tea-dashboard {
    text-align: center;
}

.tea-dashboard h2,
.tea-dashboard h3 {
    color: var(--primarycolor);
}

.tea-dashboard .list {
    max-width: 800px;
    margin: 0 auto;
}

.tea-dashboard table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tea-dashboard table th,
.tea-dashboard table td {
    border: none;
    padding: 8px;
    text-align: left;
}

.tea-dashboard table th {
    background-color: var(--whiteColorDeam);
}

.tea-dashboard table button {
    margin: 0 5px;
    background-color: var(--primarycolor);
    color: var(--whiteColorDeam);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tea-dashboard table button:hover {
    background-color:var(--primarycolor);
}